
html, body, ul {
    margin: 0;
    padding: 0;
  }
body {
    font-family:'Times New Roman', Times, serif;
    color: #333;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E8540;
    padding:5px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 35px;
  }
  .logo h5{
    color: #FFF;
    margin-left: 10px;
    font-size: 15px;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 50px;
    font-size:x-large;
    text-transform:uppercase;
  }
  
  nav a {
    color: #FFF;
    text-decoration: none;
  }

  
  .content {
    text-align:center;
    color:#2E8540;
    justify-content:right;
    align-items:right;
    margin-left:200px;
    font-weight:bold;
    
  }
  .content p{
   display:flex;
  }
  .content1 {
    text-align:center;
    
    justify-content:right;
    align-items:right;
    margin-left:5px;
    border-radius: 50px;
    border:2px solid grey;
    background-color:yellowgreen;
    
  }

  h1 {
    font-size: 50px;
    color:#2E8540;
    margin-bottom: 20px;
    text-align: right;
    margin-right:50px;
    
  }
  h3{
    text-align: center;
    background-color:darkgrey;
  }
  .image
  {
    display: flex;
    align-items: center;
    margin-top:100px;
  }
  .image1
  {
    display:flex;
    align-items: center;
    margin-top:25px;
    margin-left:10px;

  }
  .image2 img
  {
    display: block;
    margin:30px;

  }
  .image3
  {
    display:inline-block;
    align-items: center;
    margin-top:75px;
    margin-left:50px;

  }
  .image4
  {
    position:relative;
    top: 0;
    right: 0;
    
  }
  .video{
    position:absolute;
    top: 0;
    right: 0;
    margin-top: 300px;
    margin-right:100px;
  }
  .video1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2E8540;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
  } 
  .btn1 {
    display:flex;
    margin:0 auto;
    margin-top:50px;
    padding:10px 20px;
    background-color: #2E8540;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width:100px;

  } 
  h4{
    
    font-weight: bold;
  }
  .form{
    margin-bottom:10px;
    padding:2px;
  }


  footer {
    background-color:#2E8540;
    position:absolute;
    color: #fff;
    width:100%;
    bottom: 0;
    text-align:center;
  }
  .foot {
    background-color:#2E8540;
    position:relative;
    color: #fff;
    width:100%;
    margin-top: 100px;
    text-align:center;
    padding:5px 5px;
  }
  